//
// These are the base styles for the
// UA Division Student Affairs Homecoming website.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include the framework settings to override
@import "../../student-affairs-framework/scss/_sa-framework-settings";

// Change any framework settings

// Set the row width to be wider than normal - content will be 1400px wide with 20px left and right padding
//$row-width: 1440px;
$home-page-row-width: 1440px;

// SA Header
$sa-header-bg-color: false;

// SA Main Area
$sa-main-sidebar-align-with-content-padding-top: 85px !default;

// Include the framework base styles
@import "../../student-affairs-framework/scss/sa-framework";

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: uppercase;
}

.lighter {
	font-weight: 300;
}

.semibold {
	font-weight: 600;
}

.clear {
	clear: both;
}

#sa-wrapper,
#sa-inside-wrapper {
	height: 100%;
}

//  Homecoming settings
$ua-square-left: $column-gutter / 2;
$ua-square-left-padding: 115px;
$gray-bar-left-margin: 50px;
$red-bar-color: #900d11;
$black-bar-height: 25px;
$bar-right-padding: 30px;
$black-bar-left-margin: 120px;
#sa-homecoming-header {
	background: url('../images/homecoming-feature-parade-short.jpg') center center no-repeat;
	background-size: cover;
	color: $white;
	position: relative;
	overflow: hidden;
	z-index: 10000;

	// Add the shadow
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		-moz-box-shadow: inset 0 0 30px $black;
		-webkit-box-shadow: inset 0 0 30px $black;
		box-shadow: inset 0 0 30px $black;
		z-index: 1000;
		pointer-events: none;
	}

	a {
		color: inherit;
	}

	.slash {

		&:before {
			content: '/';
			padding: 0 10px 0 6px;
		}

	}

	.row {
		max-width: none;
	}

	.columns {
		position: relative;
		padding: 0;
	}

	.ua-square {
		display: block;
		width: auto;
		height: 75px;
		position: absolute;
		left: $ua-square-left;
		top: 50%;
		margin: 0;
		@include set-transform(translate(0, -50%));
	}

	.content-bar {
		clear: both;
		float: left;
		width: auto;

		.inside {
			max-width: $row-width;
			margin: 0 auto;
			width: 100%;
			position: relative;
			overflow: auto;
		}

		&.gray-bar {
			float: none;
			background: none;
			font-size: 1.1em;
			line-height: 1.2;
			margin: 0;
			overflow: auto;
			
			.inside {
				overflow: visible;
			}

			.inside-inside {
				float: left;
				width: auto;
				position: relative;
				padding: 12px $bar-right-padding 12px $ua-square-left;

				&:before {
					content: '';
					background: rgba(#444, .85);
					position: absolute;
					right: 0;
					top: 0;
					width: 2000px;
					height: 100%;
					z-index: -1;
				}

			}

		}

		&.red-bar {
			float: none;
			width: 100%;
			padding: 22px 0 24px 0;
			font-size: 2.8em;
			line-height: 1;
			z-index: 0;
			position: relative;

			&:before {
				content: '';
				background: rgba($red-bar-color, .85);
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
			}

			.inside {
				padding-left: $ua-square-left-padding;
				overflow: visible;
			}

			.smaller {
				font-size: 0.7em;
				line-height: 1.1;
			}

			a {
				display: block;
				text-decoration: none;
			}

			.first-line {
				span {
					display: block;
				}
			}

			.second-line {
				display: block;
				clear: both;
			}

		}

		&.black-bar {
			background: none;
			font-size: 1em;
			line-height: $black-bar-height;
			overflow: auto;
			margin: 0;
			padding: 0;
			width: 100%;

			.inside {
				overflow: visible;
			}

			.inside-inside {
				width: 100%;
				position: relative;
				padding: 10px ( $column-gutter / 2 );

				&:before {
					content: '';
					background: rgba(0, 0, 0, .75);
					position: absolute;
					right: 0;
					top: 0;
					width: 2000px;
					height: 100%;
					z-index: -1;
				}

			}

			a.fade {
				opacity: 0.8;

				&:hover {
					opacity: 1;
				}

			}

			#sa-homecoming-menu-toggle {
				display: block;
				text-transform: uppercase;
				cursor: pointer;
				height: 30px;
				overflow: hidden;
				font-weight: 600;
				font-size: 1em;
				line-height: 30px;
				padding: 0 0 0 30px;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					background: url('../../student-affairs-framework/images/icons/main-menu-icon-white.svg') 0 center no-repeat;
					background-size: auto 14px;
					width: 30px;
					height: 30px;
					opacity: 0.7;
				}

				.menu-label {
					display: block;
				}
				.menu-label-close {
					display: none;
				}

			}

			ul.menu {
				@include reset-ul();
				display: none; // Hide for small screens
				clear: both;
				float: left;
				font-size: inherit;
				line-height: $black-bar-height;
				overflow: visible;
				margin: 0 0 -8px 0;

				a {
					display: inline-block;
					text-decoration: none;
					border-bottom: 1px dotted $white; // rgba($white,0.7);
				}

				li {
					float: left;
					margin: 0 0 8px 0;

					&:before {
						content: '/';
						padding: 0 15px;
						opacity: 0.7;
					}

					// Remove slash
					&.no-slash {
						&:before {
							content: '';
							display: none;
						}
					}

					// Only show home on full screen
					&.home {
						display: none;
					}

				}

			}

			ul.social-media {
				@include print-social-media-icons-list($black-bar-height, 5px);
				display: none; // Hide for small screens
				float: right;
				margin: 0;
			}

		}

	}

	.arrow-down {
		display: none;
	}

}

// Tweak the home page
body.home {

	// Widen the row
	.row {
		max-width: $home-page-row-width;
	}

	#sa-banner-wrapper {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 1000000;
	}

	$black-bar-height: 30px;
	#sa-homecoming-header {
		background-image: url('../images/homecoming-feature-parade-narrow.jpg');
		width: 100%;
		height: 100%;
		padding: $sa-banner-min-height 0 0 0;

		.row {
			max-width: $home-page-row-width;
		}

		.columns {
			padding: 0 ($column-gutter / 2);
		}

		.ua-square {
			float: left;
			position: static;
			width: 75px;
			height: auto;
			margin: 0 15px 15px 0;
			@include set-transform( none );
		}

		.content-bar {
			float: none;

			.inside {
				max-width: none;
				margin: 0;
				width: 100%;
				position: static;
				padding: 0 !important;
			}

			&.gray-bar {
				float: left;
				background: rgba(#444, .85);
				font-size: 1em;
				line-height: 1.3;
				margin: 0 0 0 -20px;
				padding: 12px 20px;

				.inside-inside {
					float: none;
					padding: 0;

					&:before {
						display: none;
					}

				}

			}

			&.red-bar {
				font-size: 2.1em;
				line-height: 1.1;
				padding: 22px 0 17px 0;

				&:before {
					left: -2000px;
					width: 4000px;
				}

				.first-line {
					span {
						display: block;
					}
				}

				.second-line {
					display: block;
					clear: both;
				}

			}

			&.black-bar {
				background: rgba(0, 0, 0, .75);
				font-size: 1.2em;
				margin: 0 90px 0 0;
				padding: 12px 20px;
				width: auto;

				.inside-inside {
					padding: 0;

					&:before {
						display: none;
					}

				}

				ul.menu {
					line-height: 28px;
				}

				ul.social-media {
					@include print-social-media-icons-list($black-bar-height, 5px);
					display: none; // Hide for small screens
				}

			}

		}

		.feature-content {
			position: absolute;
			left: 0;
			bottom: 25px;
			width: 100%;
		}

		.arrow-down {
			display: block;
			position: absolute;
			right: 40px;
			bottom: 42px;
			width: 0;
			height: 0;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid $white;
			opacity: 0.9;
		}

	}

}

// A breakpoint for the normal header
@media #{$screen} and (min-width:400px) {

	body:not(.home) {

		#sa-homecoming-header {

			.content-bar {

				&.black-bar {

					#sa-homecoming-menu-toggle {
						float: left;
					}

					ul.social-media {
						display: block;
						float: right;
						margin: 2px 0 0 35px;
					}

				}

			}

		}

	}

}

// A breakpoint for the normal header
@media #{$screen} and (min-width:700px) {

	body:not(.home) {

		#sa-homecoming-header {

			.content-bar {

				&.red-bar {

					.first-line {
						span {
							display: inline-block;
						}
					}

				}

			}

		}

	}

}

// A breakpoint for the normal header
@media #{$screen} and (min-width:900px) {

	body:not(.home) {

		#sa-homecoming-header {

			.content-bar {

				&.black-bar {

					#sa-homecoming-menu-toggle {
						display: none;
					}

					ul.menu {
						display: block;
					}

					ul.social-media {
						margin-top: 0;
					}

				}

			}

		}

	}

}

// A breakpoint for the normal header
@media #{$screen} and (min-width:1050px) {

	body:not(.home) {

		#sa-homecoming-header {

			.content-bar {

				&.red-bar {

					.second-line {
						display: inline-block;
						clear: none;
					}

				}

			}

		}

	}

}

// A breakpoint for the home header
$ua-square-left: $column-gutter / 2;
$ua-square-left-padding: 190px + $ua-square-left;
$black-bar-left-margin: $ua-square-left + 120px;
$gray-bar-left-margin: $ua-square-left + 20px;
@media #{$screen} and (min-width:700px) {

	body.home {

		#sa-homecoming-header {

			.ua-square {
				position: absolute;
				left: 0;
				top: 50%;
				width: auto;
				height: 185px;
				margin: 0;
				@include set-transform(translate(0, -47%));
			}

			.content-bar {
				float: left;

				&.gray-bar {
					font-size: 1.3em;
					line-height: 1.2;
					margin: 0 0 0 $gray-bar-left-margin;
				}

				&.red-bar {
					font-size: 2.8em;
					line-height: 1;
					padding: 22px 0 24px $ua-square-left-padding;

					.first-line {
						span {
							display: inline-block;
						}
					}

					.second-line {
						display: inline-block;
						clear: none;
					}

				}

				&.black-bar {
					margin: 0 0 0 $black-bar-left-margin;
					padding: 18px $bar-right-padding 20px ($ua-square-left-padding - $black-bar-left-margin);

					#sa-homecoming-menu-toggle {
						float:left;
					}

					ul.social-media {
						display: block;
						float: left;
						margin: 0 0 0 35px;
					}

				}

			}

			.feature-content {
				bottom: 120px;
			}

			.arrow-down {
				right: auto;
				left: 50%;
				bottom: 50px;
				opacity: 0.6;
			}

		}

	}

}

// A breakpoint for the home header
$gray-bar-left-margin: $ua-square-left + 50px;
@media #{$screen} and (min-width:800px) {

	body.home {

		#sa-homecoming-header {

			.content-bar {

				&.gray-bar {
					margin-left: $gray-bar-left-margin;
					padding: 18px $bar-right-padding 18px ($ua-square-left-padding - $gray-bar-left-margin);
				}

			}

		}

	}

}

// A breakpoint for the home header
@media #{$screen} and (min-width:950px) {

	body.home {

		// Load the big feature photo - the narrow one being displayed is 960px wide
		#sa-homecoming-header {
			background-image: url('../images/homecoming-feature-parade.jpg');
		}

	}

}

// A breakpoint for the home header
@media #{$screen} and (min-width:1100px) {

	body.home {

		#sa-homecoming-header {

			.content-bar {

				&.black-bar {

					#sa-homecoming-menu-toggle {
						display: none;
					}

					ul.menu {
						display: block;
					}

					ul.social-media {
						clear: both;
						margin: 10px 0 0 0;
					}

				}

			}

		}

	}

}

// A breakpoint for the home header
@media #{$screen} and (min-width:1200px) {

	body.home {

		#sa-homecoming-header {

			.content-bar {

				&.black-bar {

					ul.social-media {
						clear: none;
						margin: 0 0 0 35px;
					}

				}

			}

		}

	}

}

// Tweak the banner when the menu is full screen
body.has-full-screen-menu {

	#sa-banner-wrapper {
		z-index: 0 !important;
	}

	#sa-homecoming-header {
		overflow: visible;
	}

}

// When the menu is full screen
#sa-homecoming-header,
body.home #sa-homecoming-header {

	.content-bar.black-bar.full-screen {
		background: rgba(0, 0, 0, .85);
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		z-index: 1000000;
		overflow: hidden;

		.inside {
			width: 100%;
			height: 100%;
			overflow: hidden;
			padding: 0;

			.inside-inside {
				overflow: scroll;
				padding: 20px;

				&:before {
					display: none;
				}

			}

		}

		#sa-homecoming-menu-toggle {
			display: block;
			position: relative;
			width: 100%;
			height: 50px;
			overflow: hidden;
			cursor: pointer;
			padding: 0;
			margin: 0 0 10px 0;

			.menu-label,
			.menu-label-close {
				display: none;
			}

			&:before, &:after {
				content: '';
				position: absolute;
				height: 4px;
				width: 50px;
				top: 50%;
				left: auto;
				right: 0;
				margin-top: -2px;
				background: $white;
				opacity: 0.8;
			}

			&::before {
				@include set-transform(rotate(45deg));
			}

			&::after {
				@include set-transform(rotate(-45deg));
			}

			&:hover {

				&::before, &::after {
					opacity: 1;
				}

			}

		}

		ul.menu {
			display: block;
			clear: both;
			float: none;
			margin: 0;

			a {
				display: block;
				padding: 15px 20px;

				&:hover {
					background: $primary-color;
				}

			}

			li {
				display: block;
				float: none;
				margin: 0;

				&:before {
					content: '';
					display: none;
				}

				// Show home on full screen
				&.home {
					display: block;
				}

			}

		}

		ul.social-media {
			@include print-social-media-icons-list(50px, 8px);
			clear: both;
			float: none !important;
			margin: 20px 0 20px 20px !important;
			overflow: auto;

			li {
				display: block;
				float: left;
			}

		}

	}

}

#sa-homecoming-front-main {
	background: $white;

	.section-title {
		padding: 0 ($column-gutter / 2);
		margin: 0 0 15px 0;
		position: relative;

		h2 {
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			color: #444;
			font-size: 1.8em;
			line-height: 1.1;
			font-weight: 600;
			position: relative;

			.smaller {
				font-size: 0.65em;
			}

			.view-all {
				display: block;
			}

		}

		ul.social-media {
			@include print-social-media-icons-list(30px, 3px);
			position: absolute;
			right: ($column-gutter / 2);
			bottom: 0;

			a.fade {
				opacity: 0.6;

				&:hover {
					opacity: 0.8;
				}

			}

		}

	}

	.row {
		padding-left: 20px;
		padding-right: 20px;
	}

	.columns {
		padding-left: 10px;
		padding-right: 10px;
	}

	.sa-homecoming-promo {
		background: rgba( $black, 0.06 );
		padding: 40px 0;
		margin: 0;

		.inside {
			padding: 0 10px;
			position: relative;
		}

		.state-logo {
			position: absolute;
			left: -50px;
			top: -40px;
			width: auto;
			height: 300px;
			opacity: 0.07;
		}

		.section-title {
			padding: 0;
			margin-bottom: 10px;
		}

		.section-text {

			> *:last-child {
				margin-bottom: 0;
			}

		}

	}

	.sa-homecoming-upcoming-events {
		margin: 0;
		padding: 45px 0 0 0;
		overflow: auto;

		.sa-homecoming-event {
			margin: 0 0 20px 0;
			font-size: 0.9em;
			line-height: 1.6;

			p {
				font-size: inherit;
				line-height: inherit;
			}

			.event-header{
				background: url( '../images/cheerleaders-bg.jpg' ) center center no-repeat;
				height: 170px;
				@include set-background-size( cover );
				position: relative;
				z-index: 0;
				margin: 0 0 15px 0;
				color: $white;

				a {
					display: block;
					height: 100%;
					color: inherit;
					text-decoration: none;

					&:hover {
						color: inherit;
						text-decoration: underline;
					}

				}

				.event-image {
					margin: 0;
				}

				.event-title {
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					//font-size: 1.4em;
					//line-height: 1.4;
					font-family: $roboto;
					font-size: 1.7em;
					line-height: 1.2;
					font-weight: 500;
					text-transform: uppercase;
					padding: 20px 20px 15px 20px;
					margin: 0;
					color: inherit;
				}

			}
			
			.event-text {
				padding: 12px 10px 0 10px;
			}

		}

	}

}

// Header area on about page
#about-header {
	font-weight: 600;
	font-size: 1.5em;
	line-height: 1.5;
	margin: 0 0 29px 0;
}

.about-logo {
	float: right;
	width: 200px;
	margin: 0 0 30px 50px;
}

.about-roll-tide {
	display: block;
	font-size: 3em;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}

#sa-main {
	padding: 25px 0 40px 0;
	min-height: 200px;

	.sa-sidebar {
		font-size: 0.85em;
		line-height: 1.5;

		// Only when active
		&.scroll-with-content.active-scroll-with-content {
			position: relative;
			padding-top: 0;

			.sa-sidebar-scroll-wrap {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%
			}

		}

		p, ul {
			font-size: inherit;
			line-height: inherit;
		}

		ul.menu {
			margin-left: 0;
			margin-right: 0;

			li {
				margin: 0 0 3px 0;

				a {
					display: block;
				}

			}

		}

		// The main submenu
		#sa-submenu {
			list-style: none;
			line-height: 1.7;
			color: rgba($black, 0.6);

			li {
				margin: 0;

				a {
					color: inherit;
					text-decoration: none;
					padding: $sa-main-submenu-item-padding;

					&:hover {
						color: $anchor-font-color;
						text-decoration: underline;
					}

				}

				&.current-menu-item {

					a {
						color: $black;
						font-weight: 700;
					}

				}

			}

		}

		.sidebar-header {
			background: none;
			text-transform: uppercase;
			font-size: 1.2em;
			line-height: 1.2;
			font-weight: 300;
			margin: 0 0 15px -10px;
			padding: 10px 10px 9px 10px;
			color: #666;
			position: relative;
			z-index: 0;

			&:before {
				content: '';
				background: #f2f2f2;
				position: absolute;
				right: 0;
				top: 0;
				width: 4000px;
				height: 100%;
				z-index: -1;
			}

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

			& + #sa-submenu {
				margin-top: -8px;
			}

		}

	}

	.sa-left-sidebar + .sa-content {
		padding-top: 20px;
	}

}

// The Informational Meetings table
table {
	width: 100%;

	&.info-meetings {

		th {

			&.time {
				width: 65px;
			}

		}

		td {

			&.meeting {
				font-weight: bold;
			}

		}

	}

	&.crimson-cup {

	}

}

// Panels
.panel {

	&.registration-dates {
		text-align: center;
		font-size: 1.3em;
		line-height: 1.3;
		padding: 25px;
		margin: 0 0 30px 0;
		border: 0;
	}

	&.homecoming-fees {
		text-align: center;
		font-size: 1.1em;
		line-height: 1.6;
		float: right;
		width: 300px;
		margin: 30px;
	}

}

// Events listing
.sa-homecoming-events-wrapper {

	.sa-homecoming-events {
		overflow: visible;

		.event-day {
			clear: both;
			margin: 0 0 25px 0;
			overflow: visible;

			.date-title {
				display: inline-block;
				position: relative;
				margin: 0 0 15px 0;
				padding: 10px 20px 10px 0;
				font-size: 1.6em;
				line-height: 1;
				font-weight: 300;
				text-transform: uppercase;
				z-index: 0;

				&:before {
					content: '';
					background: #f2f2f2;
					position: absolute;
					right: 0;
					top: 0;
					width: 4000px;
					height: 100%;
					z-index: -1;
				}

			}

		}

		.event {
			float: left;
			width: 50%;
			padding: 0 0 0 20px;
			margin: 0 0 20px 0;

			&:nth-child(odd) {
				clear: left;
				padding: 0 20px 0 0;
			}

			.event-title {
				font-size: 1.5em;
				line-height: 1.3;
				margin: 0 0 5px 0;
			}

		}

	}

}

#sa-homecoming-social-media-footer {
	background: $white;
	overflow: hidden;
	border-top: 5px solid rgba( $primary-color, 0.4 );
	padding: 10px 0 0 0;

	.row {
		max-width: none;
	}

	.columns {
		padding: 0;
	}

	$social-media-item-padding: 5px;
	.sa-homecoming-social-media {
		overflow: auto;
		margin: ( 0 - $social-media-item-padding ) ( 0 - $social-media-item-padding ) $social-media-item-padding ( 0 - $social-media-item-padding );

		img {
			margin: 0;
		}

		.item {
			float: left;
			width: 50%;
			height: 200px;
			padding: $social-media-item-padding;
			opacity: 0.5;

			.item-image {
				width: 100%;
				height: 100%;
				background-position: center center;
				background-repeat: no-repeat;
				@include set-background-size( cover );

				a {
					display: block;
					width: 100%;
					height: 100%;
				}

			}

			&:hover {
				opacity: 1;
			}

		}

		.section-title-wrapper {
			position: absolute;
			left: 0;
			top: 50%;
			width: 100%;
			padding: 0 20px;
			@include set-transform(translate(0, -50%));

			.section-title-inside {
				display: block;
				max-width: $home-page-row-width;
				margin: 0 auto;
				padding: 17px 10px 12px 0;
				overflow: visible;
				position: relative;
				z-index: 0;

				&:before {
					content: '';
					background: rgba( #444, 0.55 );
					position: absolute;
					right: 0;
					top: 0;
					width: 4000px;
					height: 100%;
					z-index: -1;
				}

			}

			.section-title {
				display: inline-block;
				color: $white;
				position: relative;
				padding: 15px;
				z-index: 0;

				&:before {
					content: '';
					background: rgba( #000, 0.6 );
					position: absolute;
					left: 0;
					top: 0;
					width: 4000px;
					height: 100%;
					z-index: -1;
				}

				h2 {
					display: block;
					float: left;
					color: inherit;
					text-transform: uppercase;
					font-size: 1.4em;
					line-height: 1.4;
					font-weight: 300;
					margin: 0 20px 0 0px;
					
					.hashtag {
						display: block;
						font-size: 1.5em;
						line-height: 1;
						font-weight: 400;
					}

				}

				.social-media-icon {
					display: block;
					float: left;
					margin: 0 15px 10px 0;

					&.fade {
						opacity: 0.6;

						&:hover {
							opacity: 1;
						}

					}

					.icon {
						width: auto;
						height: 40px;
						margin: 0;
					}

					.text {
						@include screen-reader-text();
					}

					&:last-child {
						margin-right: 0;
					}

				}

			}

		}

	}

}

// When the window is bigger than the max row width on the home page
@media #{$screen} and (min-width:#{$home-page-row-width}) {

	body.home {

		#sa-homecoming-front-main {

			.row {
				padding-left: 0;
				padding-right: 0;
			}

		}

	}

}

// Medium UP
@media #{$medium-up} {

	#sa-homecoming-front-main {

		.section-title {

			h2 {
				
				.view-all {
					position: absolute;
					right: 0;
					bottom: 0;
				}

			}

		}

		.sa-homecoming-upcoming-events {
			padding: 45px 0 35px 0;
		}

		$state-logo-width: 79px;
		$state-logo-height: 125px;
		.sa-homecoming-promo {

			.inside {
				min-height: $state-logo-height;
			}

			.state-logo {
				position: absolute;
				left: 10px;
				top: 0;
				width: auto;
				height: $state-logo-height;
				opacity: 0.8;
			}

			.section-text {
				padding-left: $state-logo-width + 25px;
			}

		}

	}

	#sa-homecoming-social-media-footer {

		.sa-homecoming-social-media {

			.item {
				width: 33.333333333%;
				height: 220px;
			}

			.section-title-wrapper {

				.section-title {

					h2 {
						font-size: 1.8em;
						line-height: 30px;

						.hashtag {
							display: inline-block;
							font-size: inherit;
							line-height: inherit;
						}

					}

					.social-media-icon {
						margin-bottom: 0;

						&.instagram {
							float: right;
						}

						.icon {
							height: 30px;
						}

					}

				}

			}

		}

	}

	#sa-main {

		.sa-sidebar {

			&.align-with-content {
				padding-top: $sa-main-sidebar-align-with-content-padding-top;
			}

		}

		.sa-left-sidebar + .sa-content {
			padding-top: 0;
		}

	}

}

// Large UP
@media #{$large-up} {

	#sa-homecoming-social-media-footer {

		.sa-homecoming-social-media {

			.item {
				width: 16.666666667%;
			}

		}

	}

}